*.tmp
github-post-receive*
index*
.travis.yml
license.txt
user_guide/
sys/

.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
