*.tmp
github-post-receive*
index*
.travis.yml
license.txt
user_guide/
.htaccess
.idea

.DS_Store

app/cache/*
!app/cache/index.html
!app/cache/.htaccess

app/logs/*
!app/logs/index.html
!app/logs/.htaccess
