#div_topbar_wrapper{
    padding: 1% 0 1% 2%;
    background-color: #aaaaaa;
    color: #ffffff;
}
#div_navigation_menu{
    padding-top: 1%;
    padding-bottom: 0.3%;
    background-color: #dddddd   ;
}
#div_main_content{
    padding: 2%;
}
#div_footer_wrapper{
    padding: 2%;
}
label{
    margin-right: 4px;
    margin-top: 4px;
    min-width: 110px;
    max-width: 110px;
}
input, select{
    width: 100%;
    max-width: 250px;
}
textarea{
    width: 100%;
    height: 50px;
    max-width: 250px;
}
.btn{
    margin-top: 25px;
}